body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: white;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 5.625rem;
    color: #EAF6F6;
    line-height: 1;
    padding-top: 50px;

}
p {
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #dddddd;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
   margin: 75px auto 75px auto;

}

a {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    
}
.top-container {
    
    position: relative;
    padding-top: 100px;
    line-height: 2em;
    
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
    background-size: auto;
    padding-bottom: 350px;
    
   
}


.top-cloud {
    position: absolute;
    right: 300px;
    top: 80px;

}
.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 250px;
  
  }
  
  .footer-link {
      color: #11999E;
  }
  
  .pro {
      font-weight: normal;
      color: #9ba4b4;
  
  }

.skill-row {
    width: 50%;
    margin: auto;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.board {
    width: 25%;
    float: left;
    margin-right: 30px;

}

.telescope {

    width: 25%;
    float: right;
    margin-left: 30px;
}
.erick-pic {
    width: 20%;
    margin: 15px auto;
    border-radius: 20%;
}

.middle-container {
    
    background-color: #30475e;

}

.bottom-container {
    background-color: #9ba4b4;
    padding: 50px 0 20px;
    

}