body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: white;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 5.625rem;
    color: #EAF6F6;
    line-height: 1;
    padding-top: 50px;

}
p {
    line-height: 2;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #dddddd;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
   margin: 75px auto 75px auto;

}

a {
    color: #11999e;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    
}
